/* base --------------------------------------------------------------------- */
.centro:before, .centro:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.centro:after {
    clear: both;
}

footer {
    height: auto;
}

footer nav {
    padding: 10px 0 5px;
}

footer nav a {
    position: relative;
    background: none;
    font-size: 10px;
}

footer nav a:after {
    content: '\00b7';
    position: absolute;
    right: 10px;
    color: #666 !important;
}

footer nav a:last-child:after { display: none; }

@media(max-width:1070px) {
    .header-home, .centro { width: 90% !important; }
    .main { padding: 50px 0 35px; }
    .main.main-projetos { padding-top: 60px; }
}
@media(max-width:570px) {
    body footer {
        height: auto;
        line-height: 1.2;
        padding: 8px 0 2px;
        box-sizing: border-box;
    }
    body footer span { display: block; }
    body footer nav {
        padding: 0 0 8px;
    }
    .main { padding: 25px 0 25px; }
    .main.main-projetos { padding-top: 60px; }
}
@media(max-width:840px) {
    .header-interna {
        height: auto;
    }
    .header-interna .centro #link-home {
        margin-left: 0;
        width: auto;
        height: auto;
    }
    .header-interna .centro #link-home img { 
        display: block;
        width: 260px;
    }
    .header-interna .centro nav {
        position: relative;
        width: 100%;
        height: 50px;
        max-width: 500px;
    }
    .header-interna .centro nav a {
        line-height: 50px;
    }
    .header-interna .centro nav > ul ul.submenu {
        width: 28%;
        padding-top: 19px;
    }
    .header-interna .centro nav > ul ul.submenu a { padding-left: 10px; }
    .header-interna .centro nav > ul ul.submenu li { width: 100%; }
    .header-interna .centro nav > ul li:nth-child(1) { width: 28%; }
    .header-interna .centro nav > ul li:nth-child(2) { width: 24%; }
    .header-interna .centro nav > ul li:nth-child(3) { width: 24%; }
    .header-interna .centro nav > ul li:nth-child(4) { width: 24%; }
}
@media(max-width:370px) {
    .header-interna .centro nav > ul ul.submenu a { padding-left: 8px; }
    .header-interna .centro nav > ul ul.submenu,
    .header-interna .centro nav > ul li:nth-child(1) { width: 32%; }
    .header-interna .centro nav > ul li:nth-child(2) { width: 22%; }
    .header-interna .centro nav > ul li:nth-child(3) { width: 23%; }
    .header-interna .centro nav > ul li:nth-child(4) { width: 23%; }
}



/* home --------------------------------------------------------------------- */
body .main-home-index img {
    height: 100%;
    object-fit: cover;
}
@media(max-width:570px) {
    .header-home, .header-home nav {
        width: 100%;
        height: auto;
    }
    .header-home img {
        padding: 40px 0 20px;
        width: 80%;
        max-width: 259px;
    }
    .header-home ul { position: relative; }
    .header-home ul li {
        width: 50%;
        height: 45px;
        line-height: 45px;
    }
}



/* projetos ----------------------------------------------------------------- */
@media(max-width:1070px) {
    .main .centro.projetos a {
        display: block;
        float: left;
        width: calc(25% - 9.5px);
        height: auto;
    }
    .main .centro.projetos a.ultimo {
        margin-right: 10px;
    }
    .main .centro.projetos a:nth-child(4n) {
        margin-right: 0;
    }
    .main .centro.projetos a img {
        position: relative;
        width: 100%;
    }
    .main .centro.projetos a img.off {
        display: none !important;
    }
    .main .centro.projetos a .legenda {
        display: block !important;
        height: auto !important;
        line-height: 1.2;
        padding: 8px !important;
        box-sizing: border-box !important;
    }
    .main .centro.detalhe .texto {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }
    .main .centro.detalhe img { max-width: 100%; }
    .main .centro.detalhe #navegacao { display: none !important; }
}
@media(max-width:520px) {
    .main .centro.projetos a {
        display: block;
        float: left;
        width: calc(50% - 7px);
        height: auto;
    }
    .main .centro.projetos a.ultimo,
    .main .centro.projetos a:nth-child(4n) {
        margin-right: 10px;
    }
    .main .centro.projetos a:nth-child(2n) {
        margin-right: 0;
    }
}



/* perfil ------------------------------------------------------------------- */
@media(max-width:1070px) {
    .main .centro.perfil img { width: 35%; }
    .main .centro.perfil .texto {
        width: 60%;
        float: right;
        padding: 25px 0;
    }
}
@media(max-width:570px) {
    .main .centro.perfil img {
        width: 100%;
        max-width: 200px;
        margin-bottom: 20px;
    }
    .main .centro.perfil .texto {
        width: 100%;
        padding: 0;
    }
}



/* clipping ----------------------------------------------------------------- */
@media(max-width:1070px) {
    .main .centro.clippings a {
        width: calc(25% - 15.5px);
    }
    .main .centro.clippings a .overlay { display: none; }
    .main .centro.clippings a img { width: 100%; }
    .main .centro.clippings a.ultimo {
        margin-right: 20px;
    }
    .main .centro.clippings a:nth-child(4n) {
        margin-right: 0;
    }
    .main .centro.detalhe.clippings img {
        width: calc(50% - 12px);
    }
    .main .centro.detalhe.clippings img:nth-child(2n) {
        margin-right: 0;
    }
}
@media(max-width:570px) {
    .main .centro.clippings a {
        width: calc(50% - 11.5px);
        margin-bottom: 20px;
    }
    .main .centro.clippings a.ultimo,
    .main .centro.clippings a:nth-child(4n) {
        margin-right: 20px;
    }
    .main .centro.clippings a:nth-child(2n) {
        margin-right: 0;
    }
    .main .centro.detalhe.clippings img {
        width: 100%;
        margin-right: 0 !important;
    }
}



/* contato ------------------------------------------------------------------ */
@media(max-width:1070px) {
    .main .centro.contato .coluna { display: block; }
    .main .centro.contato .coluna.formulario {
        width: 45%;
        float: left;
        margin-right: 0;
    }
    .main .centro.contato .coluna.formulario * { width: 100% !important; }
    .main .centro.contato .coluna.mapa {
        width: 45%;
        float:right;
    }
    .main .centro.contato .coluna.mapa iframe {
        width: 100%;
        height: 245px;
    }
}
@media(max-width:570px) {
    .main .centro.contato .coluna { width: 100% !important; }
    .main .centro.contato .coluna.mapa { margin-top: 25px; }
}
