@font-face {
    font-family: 'Interstate';
    src: url('interstate-light-webfont.eot');
    src: url('interstate-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('interstate-light-webfont.woff') format('woff'),
         url('interstate-light-webfont.ttf') format('truetype'),
         url('interstate-light-webfont.svg#Interstate-LightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}